<!DOCTYPE html>
<html>
<head>
  <title>Lottery App</title>
</head>
<body>

<h2>Lottery Game</h2>

<input id="username" placeholder="username">
<input id="password" placeholder="password">
<button onclick="signup()">Signup</button>
<button onclick="login()">Login</button>

<br><br>

<input id="number" placeholder="ticket number">
<button onclick="buy()">Buy Ticket (10 coins)</button>

<br><br>

<button onclick="draw()">Draw Winner</button>

<script>
let user;

async function signup() {
  await fetch("http://localhost:3000/signup", {
    method: "POST",
    headers: {"Content-Type":"application/json"},
    body: JSON.stringify({
      username: username.value,
      password: password.value
    })
  });
  alert("Signup done");
}

async function login() {
  const res = await fetch("http://localhost:3000/login", {
    method: "POST",
    headers: {"Content-Type":"application/json"},
    body: JSON.stringify({
      username: username.value,
      password: password.value
    })
  });

  user = await res.json();
  alert("Logged in");
}

async function buy() {
  await fetch("http://localhost:3000/buy", {
    method: "POST",
    headers: {"Content-Type":"application/json"},
    body: JSON.stringify({
      userId: user._id,
      number: number.value
    })
  });

  alert("Ticket bought");
}

async function draw() {
  const res = await fetch("http://localhost:3000/draw");
  const data = await res.json();
  alert("Winner: " + data.winner.userId);
}
</script>

</body>
</html>
